.boolex-set {
    padding: 10px 10px 5px 25px;
    margin-bottom: 10px;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
}

.boolex-set:hover,
.boolex-row:hover {
    box-shadow: 0 0 5px #808080;
}

.boolex-set-and {
    background-color: #ccccff;
}

.boolex-set-or {
    background-color: #ccffcc;
}

.boolex-set-not {
    background-color: #ffcccc;
}

.boolex-set .boolex-set-label {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 50px;
    left: 5px;
    text-align: right;
    text-transform: uppercase;
    line-height: 20px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.boolex-row {
    position: relative;
    margin-bottom: 10px;
    padding: 5px 10px 5px 5px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    width: 351px;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
}

.boolex-field,
.boolex-check,
.boolex-value {
    display: inline-block;
    width: 100px;
    height: 20px;
    line-height: 16px;
    border: 1px solid #dadada;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 14px;
}

.boolex-field.boolex-empty,
.boolex-check.boolex-empty,
.boolex-value.boolex-empty {
    background-color: lightyellow;
    border-color: lightcoral;
}

.boolex-del-btn {
    font-size: 12px;
    line-height: 12px;

    visibility: hidden;
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 2px;
}

.boolex-set:hover > .boolex-del-btn,
.boolex-row:hover > .boolex-del-btn {
    visibility: visible;
}

.boolex-more {
    font-size: 12px;
    line-height: 12px;
    visibility: hidden;
    position: absolute;
    bottom: 2px;
    right: 2px;
    cursor: pointer;
}

.boolex-set:hover > .boolex-more,
.boolex-row:hover > .boolex-more {
    visibility: visible;
}

.boolex-popup {
    visibility: hidden;
    position: absolute;
    cursor: default;
    right: 10px;
    bottom: -32px;
    background-color: #eee;
    border: solid 1px #999;
    border-radius: 5px;
    z-index: 10;
}

.boolex-more:hover > .boolex-popup,
.boolex-more:hover > .boolex-popup {
    visibility: visible;
}

.boolex-wrap {
    width: 30px;
    padding: 2px 5px;
    margin: 5px;
    border: solid 1px #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.boolex-wrap-and {
    background: linear-gradient(to bottom, #ffffff, #ccccff);
}

.boolex-wrap-or {
    background: linear-gradient(to bottom, #ffffff, #ccffcc);
}

.boolex-wrap-not {
    background: linear-gradient(to bottom, #ffffff, #ffcccc);
}

.boolex-link {
    background-color: inherit;
    border: 1px solid #999;
    border-top-style: none;
    border-bottom-style: none;
    font-size: 10px;
    position: absolute;
    bottom: -12px;
    left: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 40px;
    height: 12px;
    line-height: 12px;
    z-index: 2;
}

.boolex-link.boolex-link-row-row {
    background: linear-gradient(to bottom, #ffffff, #eeeeee);
}

.boolex-link.boolex-link-and-row {
    background: linear-gradient(to bottom, #ccccff, #eeeeee);
}

.boolex-link.boolex-link-row-and {
    background: linear-gradient(to bottom, #ffffff, #ccccff);
}

.boolex-link.boolex-link-or-row {
    background: linear-gradient(to bottom, #ccffcc, #eeeeee);
}

.boolex-link.boolex-link-row-or {
    background: linear-gradient(to bottom, #ffffff, #ccffcc);
}

.boolex-link.boolex-link-not-row {
    background: linear-gradient(to bottom, #ffcccc, #eeeeee);
}

.boolex-link.boolex-link-row-not {
    background: linear-gradient(to bottom, #ffffff, #ffcccc);
}

.boolex-link.boolex-link-and-or {
    background: linear-gradient(to bottom, #ccccff, #ccffcc);
}

.boolex-link.boolex-link-or-and {
    background: linear-gradient(to bottom, #ccffcc, #ccccff);
}

.boolex-link.boolex-link-and-not {
    background: linear-gradient(to bottom, #ccccff, #ffcccc);
}

.boolex-link.boolex-link-not-and {
    background: linear-gradient(to bottom, #ffcccc, #ccccff);
}

.boolex-link.boolex-link-or-not {
    background: linear-gradient(to bottom, #ccffcc, #ffcccc);
}

.boolex-link.boolex-link-not-or {
    background: linear-gradient(to bottom, #ffcccc, #ccffcc);
}

.boolex-link-end {
    visibility: hidden;
    cursor: pointer;
    bottom: -13px;
    border-bottom-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: inherit;
}

.boolex-set:hover > .boolex-link-end,
.boolex-set:hover > .boolex-row > .boolex-link-end {
    visibility: visible;
}
