.boolex-create-btn {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    background-image: -moz-linear-gradient(top, #66cc66, #339933);
    background-image: -webkit-linear-gradient(#66cc66, #339933);
}

.boolex-set {
    /*width: 358px;*/
    padding: 15px 15px 9px 25px;
    margin-bottom: 10px;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
}

.boolex-set.boolex-set-and {
    background-color: #ccccff;
}

.boolex-set.boolex-set-and:hover {
    background-color: #b3b3ff;
}

.boolex-set.boolex-set-or {
    background-color: #ccffcc;
}

.boolex-set.boolex-set-or:hover {
    background-color: #b3ffb3;
}

.boolex-set.boolex-set-not {
    background-color: #ffcccc;
}

.boolex-set.boolex-set-not:hover {
    background-color: #ffb3b3;
}

.boolex-set .boolex-set-label {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 50px;
    left: 5px;
    text-align: right;
    text-transform: uppercase;
    line-height: 20px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.boolex-row {
    position: relative;
    margin-bottom: 10px;
    padding: 5px 10px 5px 5px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    width: 351px;
    background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
    background-image: -webkit-linear-gradient(#eeeeee, #ffffff);
}

.boolex-field,
.boolex-check,
.boolex-value {
    display: inline-block;
    width: 100px;
    height: 20px;
    line-height: 16px;
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 14px;
}

.boolex-field.boolex-empty,
.boolex-check.boolex-empty,
.boolex-value.boolex-empty {
    background-color: lightyellow;
    border-color: lightcoral;
}

.boolex-del-btn {
    visibility: hidden;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
    top: 0;
    right: 0;
    /*background: url("../img/del-icon.png") no-repeat center;*/
}

.boolex-set:hover > .boolex-del-btn,
.boolex-row:hover > .boolex-del-btn {
    visibility: visible;
}

.boolex-more {
    visibility: hidden;
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: -6px;
    right: -5px;
    /*background: url("../img/corner.png") center no-repeat;*/
    cursor: pointer;
}

.boolex-set:hover > .boolex-more,
.boolex-row:hover > .boolex-more {
    visibility: visible;
}

.boolex-popup {
    visibility: hidden;
    position: absolute;
    width: 141px;
    padding: 5px;
    cursor: default;
    right: 15px;
    bottom: -6px;
    background-color: #eee;
    border: solid 1px #999;
    border-radius: 5px;
    z-index: 10;
}

.boolex-more:hover > .boolex-popup,
.boolex-more:hover > .boolex-popup {
    visibility: visible;
}

.boolex-wrap {
    display: inline-block;
    width: 30px;
    padding: 2px 5px;
    margin-right: 5px;
    border: solid 1px #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.boolex-wrap.boolex-wrap-and {
    background-image: -moz-linear-gradient(top, #ffffff, #ccccff);
    background-image: -webkit-linear-gradient(#ffffff, #ccccff);
}

.boolex-wrap.boolex-wrap-or {
    background-image: -moz-linear-gradient(top, #ffffff, #ccffcc);
    background-image: -webkit-linear-gradient(#ffffff, #ccffcc);
}

.boolex-wrap.boolex-wrap-not {
    background-image: -moz-linear-gradient(top, #ffffff, #ffcccc);
    background-image: -webkit-linear-gradient(#ffffff, #ffcccc);
}

.boolex-link {
    background-color: inherit;
    border: 1px solid #999;
    border-top-style: none;
    border-bottom-style: none;
    font-size: 10px;
    position: absolute;
    bottom: -12px;
    left: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 40px;
    height: 12px;
    line-height: 12px;
    z-index: 10;
}

.boolex-link.boolex-link-row-row {
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
}

.boolex-link.boolex-link-and-row {
    background-image: -moz-linear-gradient(top, #ccccff, #eeeeee);
    background-image: -webkit-linear-gradient(#ccccff, #eeeeee);
}

.boolex-link.boolex-link-row-and {
    background-image: -moz-linear-gradient(top, #ffffff, #ccccff);
    background-image: -webkit-linear-gradient(#ffffff, #ccccff);
}

.boolex-link.boolex-link-or-row {
    background-image: -moz-linear-gradient(top, #ccffcc, #eeeeee);
    background-image: -webkit-linear-gradient(#ccffcc, #eeeeee);
}

.boolex-link.boolex-link-row-or {
    background-image: -moz-linear-gradient(top, #ffffff, #ccffcc);
    background-image: -webkit-linear-gradient(#ffffff, #ccffcc);
}

.boolex-link.boolex-link-not-row {
    background-image: -moz-linear-gradient(top, #ffcccc, #eeeeee);
    background-image: -webkit-linear-gradient(#ffcccc, #eeeeee);
}

.boolex-link.boolex-link-row-not {
    background-image: -moz-linear-gradient(top, #ffffff, #ffcccc);
    background-image: -webkit-linear-gradient(#ffffff, #ffcccc);
}

.boolex-link.boolex-link-and-or {
    background-image: -moz-linear-gradient(top, #ccccff, #ccffcc);
    background-image: -webkit-linear-gradient(#ccccff, #ccffcc);
}

.boolex-link.boolex-link-or-and {
    background-image: -moz-linear-gradient(top, #ccffcc, #ccccff);
    background-image: -webkit-linear-gradient(#ccffcc, #ccccff);
}

.boolex-link.boolex-link-and-not {
    background-image: -moz-linear-gradient(top, #ccccff, #ffcccc);
    background-image: -webkit-linear-gradient(#ccccff, #ffcccc);
}

.boolex-link.boolex-link-not-and {
    background-image: -moz-linear-gradient(top, #ffcccc, #ccccff);
    background-image: -webkit-linear-gradient(#ffcccc, #ccccff);
}

.boolex-link.boolex-link-or-not {
    background-image: -moz-linear-gradient(top, #ccffcc, #ffcccc);
    background-image: -webkit-linear-gradient(#ccffcc, #ffcccc);
}

.boolex-link.boolex-link-not-or {
    background-image: -moz-linear-gradient(top, #ffcccc, #ccffcc);
    background-image: -webkit-linear-gradient(#ffcccc, #ccffcc);
}

.boolex-link.boolex-link-end {
    cursor: pointer;
    bottom: -13px;
    border-bottom-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*padding-right: 10px;*/
    /*background: url("../img/plus.png") right no-repeat;*/
    /*background-position: 35px -1px;*/
    /*background-color: inherit;*/
}

/*.boolex-set:hover>.boolex-link.boolex-link-end,*/
/*.boolex-set:hover>.boolex-row>.boolex-link.boolex-link-end{*/
    /*padding-right: 10px;*/
    /*!*background: url("../img/plus.png") right no-repeat;*!*/
    /*background-position: 35px -1px;*/
    /*background-color: inherit;*/
/*}*/
